.header-total{
    height: 80px;
   background-color: darkslategray;
    display: flex;
    align-items: center;
    
}
.header-total img{
    width: 140px;
    height: 60px;
    margin-left: 50px;
}
.header-total ul {
    margin-left: 720px;
}
.header-total ul a{
    padding: 18px;
    text-decoration: none;
    color: azure;
    font-size: 17px;
    opacity: 90%;
    
}
.header-total ul a:hover{
color: coral;
}